/* Custom font based on https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
  font-family: pstart;
  src: url(Press_Start/PressStart2P-Regular.ttf);
}

html {
  /* Background image is dynamically added through JavaScript */
  background-color: #008080;  /* Windows 95 background color as default as backup */
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  margin: 0;
  background-size: contain;
  background-repeat: no-repeat;
  /* font-smooth: never; */
}

/*
  nav elements based off
  https://www.w3schools.com/css/css_navbar_vertical.asp
  https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_vertical_fixed
*/
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: pstart;
  height: 100%;
  width: 228px;
  background-color: #000000;
  top: 0;
  position: fixed;
  overflow: auto;
}

nav li {
  display: block;
  /* padding: 8px 16px;*/
  color: #00ff00;
  width: 224px;
  line-height: 32px;
  border: 2px solid #00ff00;
  border-top: none
}

nav li a {
  color: #00ff00;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

nav li.topped {
  border-top: 1px solid #00ff00;
}

nav li.footer {
  border: none;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #000;
  width: 192px;
  display: block;
  padding: 8px 16px;
}

/*
    Hacky workaround for overflow not compensating for the fixed one
    Also IE is a cursed piece of garbage so it overcompensates like motorcyclists at 11:31 PM
*/
nav li.invisible {
  /* visibility: hidden;  // don't do this because it'll make the link inaccessible */
  border: none;
  background-color: #000;
  color: #000;
  width: 192px;
  display: block;
  padding: 8px 16px;
}

nav li.invisible a {
  color: #000;
  width: 192px;
  text-decoration: none;
  display: block;
  padding: 8px 16px;
}

nav li.invisible::selection {
  background-color: black;
  color: black;
}

nav li.invisible a::selection {
  background-color: black;
  color: black;
}

nav li img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav li:hover {
  background-color: #0f0f0f;
  color: #00ff00;
}

nav li.footer:hover {
  background-color: #000;
}

nav li.invisible:hover {
  background-color: black;
  color: black;
}

/* https://www.w3schools.com/css/css_align.asp */
div {
  margin-left: calc(14.5% + 228px);
  margin-right:14.5%;
  min-height: calc(100vh - 2px);
  text-align: center;
  min-width: 120px;
  padding:1px 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

/* https://stackoverflow.com/questions/4684304/how-can-i-resize-an-image-dynamically-with-css-as-the-browser-width-height-chang */
div img {
  max-height: 256px; /* Standard image height, don't override unless you want wacky image heights next to one another */
  max-width: 100%;
  width: auto;
  height: auto;
  padding:8px 8px;
}

/* Subtracted 1 px because it'll overflow the index.html when it worked before */
div h1 {
  font-size: calc(15px + 1vw); /* Used to be 32 px */
}

div h2 {
  font-size: calc(7px + 1vw); /* Targeting 24 px */
}

div h3 {
  font-size: calc(2px + 1vw); /* Targeting 18 px */
}

div p {
  font-size : calc(7px + 0.5vw); /* Used to be 16px */
}

div a {
  color: #ffffff;
}

div a:visited {
  color: #ffffff;
}
