html {
  /*
  color: blue;
  background-image: url('images/bliss.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  */
  background-color: #c9975d;
}

body {
  font-family: Arial;
  /* font-smooth: never; */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a{
  display: block;
  background-color: #000000;
  padding: 8px 16px;
  text-decoration: none;
  color: #00ff00;
  width: 128px;
}

nav li a:hover {
  background-color: #0f0f0f;
  color: #00ff00;
}
